{% autoescape false %}
<script type="text/javascript">


    function validate() {
        return 'unknown';
    }


    function validate(key, value) {
        var rule = ruleSet[key];

        if(typeof(rule) === 'undefined' || rule === undefined) {
            return 'unknown';
        }

        // according order
        if(rule[0] < rule[2]) {
            // critical < warn < good
            switch(true) {
                case value < rule[1]:
                    return 'critical';
                case value >= rule[1] && value < rule[2]:
                    return 'warning';
                default:
                    return 'good';
            }
        } else {
            // critical > warn > good
            switch(true) {
                case value > rule[1]:
                    return 'critical';
                case value < rule[2]:
                    return 'good';
                default:
                    return 'warning';
            }
        }
    }

    function validateIn(results, key, type) {
        type = type || 'average';
        var value = results[type] ? results[type][key] : results[key];
        return validate(key, value);
    }


    function textify(string) {
        string = string.charAt(0).toUpperCase() + string.slice(1);
        return string.replace(/([a-z0-9])([A-Z])/, "$1 $2");
    }

    function toggleAccessibility() {
        accessibilityEnabled = !!!accessibilityEnabled;
        document.getElementById('svg-maintenability').firstElementChild.innerHTML = '';
        updateMaintenablityChart();

    }


    function displayTab(e, id) {

        var i, tabs = document.getElementsByClassName('tab');
        for(i = 0; i < tabs.length; i++) {
            tabs[i].style.display = 'none';
        }
        document.getElementById(id).style.display = 'block';

        var child, menu = document.getElementById('menu');
        var nodes = menu.childNodes;
        for(var i = 0; i < nodes.length; i++) {
            nodes[i].className = '';
        }

        e.className = 'active';
    }

    function zoom(id, callback) {
        var e = document.getElementById(id);

        // preserve olds values
        e.setAttribute('data-original-width', e.offsetWidth);
        e.setAttribute('data-original-height', e.offsetHeight);

        // zoom
        e.className = 'zoomed';

        // add close button
        var close = document.createElement('div');
        close.setAttribute('id', 'btn-close');
        close.innerHTML = '<a>Close</a>';
        document.body.appendChild(close);
        close.className = 'btn-close'
        close.onclick = function(id, callback) {
            return function() {
                zoomOut(id, callback);
            }
        }(id, callback);

        // apply callback
        callback();
    }

    function zoomOut(id, callback) {
        var e = document.getElementById(id);

        // zoom
        e.className = '';

        // remove close button
        var close = document.getElementById('btn-close');
        close.parentNode.removeChild(close);

        // apply callback
        var w = e.getAttribute('data-original-width');
        callback(w);
    }

</script>
{% endautoescape %}