composer.lock
vendor
tooling/vendor
.idea
md5sums
control
files
build/phpmetrics.dsc
build/phpmetrics.deb
build/phpmetrics.tar.gz
build/phpmetrics.changes
.php-cs-fixer.cache
.phpunit.result.cache

# build
buildroot/
downloads/
pkgroot/
source/
spc
