default:
    rules:
        cyclomaticComplexity: [ 10, 6, 2 ]
        maintenabilityIndex: [ 0, 75, 95 ]

    failure: average.maintenabilityIndex < 50 or sum.loc > 10000

    path:
        directory: src
        extensions: php
        exclude: features|tests

    logging:
        report:
            xml:    ./log/phpmetrics.xml
            html:   ./log/phpmetrics.html
            csv:    ./log/phpmetrics.csv
        violations:
            xml:    ./log/violations.xml
        chart:
            bubbles: ./log/bubbles.svg
