includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon

parameters:
    level: max
    paths:
        - bin
        - src
        - tests

    ignoreErrors:
        - '#Method [\w\\]+::test[\w]+\(\) has no return typehint specified#'

    # Miscellaneous parameters
    inferPrivatePropertyTypeFromConstructor: true

    exceptionRules:
        reportUnusedCatchesOfUncheckedExceptions: false
        reportUnusedCheckedThrowsInSubtypes: false
        reportCheckedThrowsInGlobalScope: false
        uncheckedExceptions:
            - LogicException
        methodWhitelist:
            PHPUnit\Framework\TestCase: '##'
