<?xml version="1.0" encoding="UTF-8"?>

<phpunit
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./tests/bootstrap.php"
        >

    <testsuites>
        <testsuite name="PhpMetrics Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>binary</group>
        </exclude>
    </groups>
</phpunit>
