Package: phpmetrics
Version: 1.8.2
Architecture: all
Maintainer: Jean-François Lépine <lepinejeanfrancois@yahoo.fr>
Installed-Size: 9
Depends: php (>= 5.4.0+)
Section: base
Priority: optional
Homepage: http://www.phpmetrics.org
Description: Static analyzer for PHP
  PhpMetrics provides informations and charts about quality, complexity, maintainability... of your
  PHP code. Its supports any PHP code from PHP 5.3 to PHP 7
