<footer>

    <nav role="navigation">
        <div class="mui-container">
            <div id="g-footer" class="mui-text-center">
                <ul class="mui-list-unstyled mui-list-inline">
                    <li><a href="https://github.com/Halleck45/PhpMetrics/issues">Support</a></li>
                    <li><a href="{{site.url}}/feedback">Feedback</a></li><li>
                    <li><a href="https://twitter.com/Halleck45">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/profile/view?id=90131737&authType=NAME_SEARCH&authToken=OkW0&locale=fr_FR&srchid=901317371400003230246&srchindex=1&srchtotal=1&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A901317371400003230246%2CVSRPtargetId%3A90131737%2CVSRPcmpt%3Aprimary">Linkedin</a></li>
                </ul>
                <ul id="g-footer-bottomlinks" class="mui-list-inline mui-text-center">
                    <li>&copy 2015 Jean-François Lépine</li>
                </ul>
            </div>
        </div>
    </nav>
</footer>
