<nav id="sidenav">
    <div>
        <h2 class="mui-appbar-line-height"><a href="{{ site.url }}">PhpMetrics</a></h2>
    </div>
    <div class="mui-divider"></div>
    <ul>

        <li>
            <strong class="">Getting Started</strong>
            <ul>
                <li><a class="" href="{{site.url}}/documentation/index.html">Metrics</a></li>
                <li><a class="" href="{{site.url}}/documentation/how-to-read-report.html">How to read report</a></li>
                <li><a class="" href="{{site.url}}/documentation/how-to-understand-metrics.html">How to understand metrics</a></li>

            </ul>
        </li>
        <li>
            <strong class="">Continous integration</strong>
            <ul>
                <li><a class="" href="{{site.url}}/documentation/jenkins.html">Jenkins and Sonar</a></li>

            </ul>
        </li>
        <li>
            <strong class="">External resources</strong>
            <ul>
                <li><a class="" href="http://www.sitepoint.com/visualize-codes-quality-phpmetrics/">PhpMetrics on SitePoint</a></li>
                <li><a class="" href="https://peteraba.com/blog/phpmetrics-of-popular-projects/">PhpMetrics of popular php projects</a></li>
                <li><a class="" href="https://gist.github.com/Halleck45/c205ddff88643f3ba51d">Parsing PhpMetrics with PhantomJS</a></li>
                <li><a class="" href="http://blog.lepine.pro/industrialisation/bornes-pour-les-indicateurs-et-metriques/">How are calculated boundaries</a> (french)</li>
                <li><a class="" href="https://github.com/Halleck45/PhpMetrics-jetbrains">PhpStom integration</a></li>

            </ul>
        </li>
        <li>
            <strong class="">Contribute</strong>
            <ul>
                <li><a class="" href="https://github.com/Halleck45/PhpMetrics">PhpMetrics on github</a></li>
                <li><a class="" href="https://github.com/Halleck45/PhpMetrics/issues">Issues</a></li>

            </ul>
        </li>

    </ul>

</nav>