<nav class="mui-appbar" role="navigation">
    <div class="mui-container">
        <table id="appbar-inner">
            <tr class="mui-appbar-height">
                <td>
                    <a class="appbar-brand" href="{{site.url}}">PhpMetrics</a>
                </td>
                <td id="appbar-cell-right">
                    <a href="{{site.url}}/report/latest/index.html">Demo</a>
                    <a href="{{site.url}}#install" class="mui-hidden-xs">Download</a>
                    <a href="{{site.url}}/documentation/index.html">Documentation</a>
                    <a href="{{site.url}}/about.html">About</a>
                </td>
            </tr>
        </table>
    </div>
</nav>
