Source: phpmetrics
Section: base
Priority: optional
Maintainer: Jean-François Lépine <lepinejeanfrancois@yahoo.fr>
Build-Depends: make
Standards-Version: 0.0.0
Vcs-Git: https://github.com/phpmetrics/PhpMetrics.git
Vcs-Browser: https://github.com/phpmetrics/PhpMetrics
Homepage: http://www.phpmetrics.org

Package: phpmetrics
Architecture: all
Depends: php5 (>= 5.4.0+)
Description: Static analyzer for PHP
  PhpMetrics provides informations and charts about quality, complexity, maintainability... of your
  PHP code. Its supports any PHP code from PHP 5.3 to PHP 7