#!/usr/bin/make -f
#DH_VERBOSE = 1
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_test:
ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
	bash debian/testing/binaryTest.sh
else
	@echo "** tests disabled"
endif



override_dh_auto_clean:
	@echo "** no need to clean"
override_dh_auto_build:
	@echo "** no need to build"
override_dh_auto_install:
	@echo "** no need to install"
	mkdir -p debian/tmp && cp debian/bin/phpmetrics debian/tmp/phpmetrics
override_dh_usrlocal: