---
layout: default
---
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="PhpMetrics is a quality tool for PHP. It provide beautiful reports about Maintenability, Complexity, Difficulty... of your code.">
    <meta name="author" content="Jean-François Lépine">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link href="/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700" rel="stylesheet" type="text/css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />

    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>


<body>

    <header>
        {% include menu_top.html %}
    </header>
    <div class="mui-row" style="position: relative; height:100%;">
        <div class="mui-col-md-2" style="height:100%">
            {% include menu_side.html %}
        </div>
        <div class="mui-cold-md-10">
            <div class="mui-container">
            {{ content }}
            </div>
        </div>
    </div>




    {% include footer.html %}

</body>

<script src="//cdn.muicss.com/mui-0.0.1/js/mui.min.js"></script>
{% include analytics.html %}
</body>

</html>
