<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php">

  <testsuites>
    <testsuite name="PhpMetrics Suite">
      <directory>phpmetrics/tests</directory>
    </testsuite>
  </testsuites>

  <groups>
    <exclude>
      <group>binary</group>
    </exclude>
  </groups>

  <filter>
    <whitelist>
      <directory>phpmetrics/src</directory>
    </whitelist>
  </filter>
</phpunit>
