includes:
    - phpstan-baseline.neon
parameters:
    level: max
    tmpDir: /opt/project/qa/cache/phpstan
    paths:
        - ../src
    featureToggles:
        disableRuntimeReflectionProvider: true
