parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property object\\:\\:\\$history\\.$#"
			count: 1
			path: ../src/Hal/Report/Html/Reporter.php

		-
			message: "#^Variable property access on mixed\\.$#"
			count: 5
			path: ../src/Hal/Report/Html/Reporter.php

		-
			message: "#^Variable property access on object\\.$#"
			count: 1
			path: ../src/Hal/Report/Html/Reporter.php

		-
			message: "#^Parameter \\#2 \\$configMetricValue of method Hal\\\\Search\\\\Search\\:\\:matchesMetric\\(\\) expects string, array\\<string\\>\\|string given\\.$#"
			count: 1
			path: ../src/Hal/Search/Search.php

		-
			message: "#^Parameter \\#2 \\$expectedName of callable \\(Closure\\(Hal\\\\Metric\\\\Metric, string\\)\\: bool\\)\\|\\(Closure\\(Hal\\\\Metric\\\\Metric, array\\<string\\>\\)\\: bool\\) expects string, array\\<string\\>\\|string given\\.$#"
			count: 1
			path: ../src/Hal/Search/Search.php
